.services{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
    gap: 1rem;
    list-style: none; /* Remove the default list bullet points */
    padding: 1em; /* Remove default padding */
}