html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color:  #234e3b;
    min-height: 100vh;
    
}


* {
  box-sizing: border-box;
}
header{
  padding: 0 10px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #234e3b;
  width: 100%;
  color: whitesmoke;
  transition: all .7s ease-in-out;

}
@media (min-width: 600px) {
  header{
    padding-left: 12vw;
    padding: 0 10px 0 12vw;
  }
}
.title{
  margin-right: 20%;
}
.navlinks{
  width: 100%;
}
li > a, li > a:active, li > a:visited{
  text-decoration: none;
  color: whitesmoke;
}


footer{
  align-self: flex-end;
}

.splash{
  color: antiquewhite;
  text-align: center;
  padding: 2rem;
}


.hero-section{
  display: grid;
  grid-template-columns: 95vw;
  justify-content: flex-end;
  justify-items: flex-end;
  align-items: center;
  height: 75vh;
}
.hero-img{
  background-image: url('/treework.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-bottom-left-radius: 120px;
  border-top-left-radius: 120px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

.splash-banner{
  margin-top: -2px;
  background-color: #1b3d2e;
  min-width: 40vw;
  padding: 2rem;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
  color: whitesmoke;
  height: auto;
}
.about{
  margin: 0 auto;
  text-align: center;
  color: whitesmoke;
}
.about-description{
  margin: 0 auto;
  width: 75vw;
}
.about-list{
  padding: 0;
  width: 100%;
  background-color: #1b3d2e;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
  list-style: none;
  color: whitesmoke;
  gap: 3px;
}
.about-list-item{
border: #1b3d2e 1px solid;
  padding: 0 1rem 1rem;
}
.about-list-item:hover{
  background-color: #234e3b
  }
  .about-list-item:hover > h3{
    color: #9be2c3;
    }
.service-item{
  border: #1b3d2e 1px solid;
  padding: 0 1rem 1rem;
}
.service-item:hover{
  background-color: #1b3d2e;
  }
  .service-item:hover > h3{
    color: #9be2c3;
    }
